* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#experience {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

#canvas {
    width: 100%;
    height: 100%;
}